name: Build and Test

on: 
  workflow_dispatch:
  push:
    branches: 
      - main
  pull_request:
    branches:
      - main

env:
  projectName: 'Vulthil.SharedKernel.sln'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build
      run: dotnet build ${{ env.projectName }} --configuration Release
    - name: Test
      run: dotnet test ${{ env.projectName }} --configuration Release --no-build --no-restore