name: Build and Test

on: 
  workflow_dispatch:
  push:
    branches: 
      - 'main'
  pull_request:
    branches:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_id || github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: true
  NuGetDirectory: ${{ github.workspace}}/nuget
  NuGetSource: https://nuget.pkg.github.com/Vulthil/index.json

jobs:
  create_nuget:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        filter: tree:0
    - uses: actions/setup-dotnet@v4
    - name: Restore .NET tools
      run: dotnet tool restore
    - name: Pack
      run: dotnet pack --configuration Release --output ${{ env.NuGetDirectory }}
    - name: Extract Version
      id: extract_version
      run: |
        VERSION=$(dotnet minver)
        echo "VERSION=$VERSION" >> $GITHUB_ENV
        echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
    - uses: actions/upload-artifact@v4
      with:
        name: nuget
        if-no-files-found: error
        retention-days: 7
        path: ${{ env.NuGetDirectory }}/*.nupkg

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
    - name: Test
      run: dotnet test --configuration Release

  deploy_preview:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    needs: [ create_nuget, test ]
    permissions:
      packages: write
      contents: read
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: nuget
        path: ${{ env.NuGetDirectory }}
    - name: Publish Preview NuGet package
      run: |
        for file in "${{ env.NuGetDirectory }}"/*.nupkg ; do
            dotnet nuget push "$file" --api-key "${{ secrets.GITHUB_TOKEN }}" --source "${{ env.NuGetSource }}" --skip-duplicate --symbol-source "${{ env.NuGetSource }}" --symbol-api-key "${{ secrets.GITHUB_TOKEN }}"
        done

  create_release:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: [ create_nuget, test ]
    steps:
    - uses: actions/checkout@v4
    - name: Tag the Commit
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "github-actions@github.com"
        git tag ${{ env.VERSION }}
        git push origin ${{ env.VERSION }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Create GitHub Release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: v${{ env.VERSION }}
        release_name: Release ${{ env.VERSION }}
        draft: false
        prerelease: false

  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: [ create_nuget, test, create_release ]
    permissions:
      packages: write
      contents: read
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: nuget
        path: ${{ env.NuGetDirectory }}
    - name: Publish NuGet package
      run: |
        for file in "${{ env.NuGetDirectory }}"/*.nupkg ; do
            dotnet nuget push "$file" --api-key "${{ secrets.GITHUB_TOKEN }}" --source "${{ env.NuGetSource }}" --skip-duplicate
        done
  